
  <%@cart_sum = 0 %>
  <%@cart_items_added.each do |cart_item| %>
  <% @cart_sum += cart_item.quantity * cart_item.item.price %>
  <% end %>
   <%@bill_sum = 0 %>
  <%@cart_items.each do |cart_item| %>
  <% @bill_sum += cart_item.quantity * cart_item.item.price %>
  <% end %>
   <%@bill_sum -= @cart_sum %>

<div class="body-cart">
  <% if @cart_sum != 0  %>
    <h3 class="glyphicon glyphicon-shopping-cart text-center"> R$ <%= @cart_sum %> </h3>
    <div >
      <table class="table table-sm">
        <thead>
          <tr>
            <th scope="col-3">#</th>
            <th scope="col-3">name</th>
            <th scope="col-3">item</th>
            <th scope="col-3">delete</th>
          </tr>
        </thead>
        <tbody>
        <%@cart_items_added.each do |cart_item| %>
          <tr>
            <td><%= cart_item.quantity.to_i%></td>
            <td><%= cart_item.item.name%></td>
            <td>R$ <%= cart_item.item.price %></td>
           <td><%= link_to "", cart_item_path(cart_item.id), class:"glyphicon glyphicon-trash", method: :delete %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div>
 
  <% end %>

     <div class="text-center m-5">
      <% if @cart_sum != 0  %>
      <%= link_to "Confirm Order!", cart_path(current_user.cart), class: "btn btn-outline-success", method: :patch %>
      <% end %>
      <%= link_to 'Back to menu', restaurant_path(@cart.place.restaurant_id), class: "btn btn-outline-secondary" %>
    </div>

  <% if @bill_sum != 0  %>

    <h3 class="glyphicon glyphicon-list-alt text-center"> R$ <%= @bill_sum %> </h3>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col-3">#</th>
          <th scope="col-3">name</th>
          <th scope="col-3">price</th>
          <th scope="col-3">status</th>
        </tr>
      </thead>
      <tbody>
      <%@cart_items_ordered.each do |cart_item| %>
        <tr class="table-warning">
          <td><%= cart_item.quantity.to_i%></td>
          <td><%= cart_item.item.name%></td>
          <td>R$ <%= cart_item.item.price %></td>
          <td>preparing...</td>
        </tr>
        <% end %>
      </tbody>
         <tbody>
      <%@cart_items_delivered.each do |cart_item| %>
        <tr class="table-light">
          <td><%= cart_item.quantity.to_i%></td>
          <td><%= cart_item.item.name %></td>
          <td>R$ <%= cart_item.item.price %></td>
          <td><%= cart_item.status %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
      <div class="footer-white"></div>
  <%=link_to checkout_path do %>
  <div class="footer"><h3>Pay R$ <%= @bill_sum %></h3> </div>
  <% end %>

  <% end %>
