

<div><%= link_to 'Create a new restaurant', new_restaurant_path, class: "btn btn-outline-primary" %></div>
  <h1>My Restaurant</h1>
  <table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Address</th>
      <th scope="col">Phone</th>
      <th scope="col">See Details</th>
    </tr>
  </thead>
  <tbody>
  <% @restaurants.each do |restaurant| %>
    <tr>
      <th scope="row"><%= restaurant.id %></th>
      <td><%= restaurant.name %></td>
      <td><%= restaurant.address %></td>
      <td><%= restaurant.phone %></td>
      <td><%= link_to "Details", restaurant_path(restaurant), class: "btn btn-outline-secondary" %></td>
    </tr>
    <% end %>
  </tbody>
</table>


<%= link_to 'Back', restaurants_path, class: "btn btn-outline-secondary" %>

