<div class="welcome-banner" style="background-image: url('https://res.cloudinary.com/dpjghjtp1/image/upload/v1591742887/nik-owens-40OJLYVWeeM-unsplash_mjrgxq.jpg')">
  <div class="welcome-inside">
    <%= image_tag "https://res.cloudinary.com/dpjghjtp1/image/upload/v1590861380/ptbzhlcdphdr5ske3le74oifp5ab.png", height: 120, width: 120, crop: :fill%>
  </div>
</div>

<div>
  <%= render 'items/index', items: @restaurant.items %>

</div>
<div class="d-flex justify-content-center mt-3">


</div>

	<!-- Modal -->
	<div class="modal right fade" id="choosetable" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2">
		<div class="modal-dialog" role="document">
			<div class="modal-content">

				<div class="modal-header">
				<h4 class="modal-title" id="myModalLabel2">Choose a table</h4>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				</div>

  <%= render 'places/index', places: @restaurant.places %>

			</div><!-- modal-content -->
		</div><!-- modal-dialog -->
	</div><!-- modal -->

</div><!-- container -->
<div class="footer-white mt-4"></div>
<% if @carts %>
   <%=link_to cart_path(@carts) do %>

  <div class="footer"><%#=cl_image_tag("restaurant-table-and-chairs_r6cwhk", height: 30, width: 30, crop: :fill)%> Items: <%= @total%> / CONFIRM</div>
  <% end %>
  <% else %>
  <button type="button" class="footer" data-toggle="modal" data-target="#choosetable">
          CHOOSE A TABLE
  </button>
<% end %>

    <!--  <h3 class="glyphicon glyphicon-shopping-cart text-center"> R$ <%= @cart_sum %> </h3>  -->


