<%# I'm hungry and looking for something to eat. %>
<div class="container">
  <div class="d-flex justify-content-center title_menu">
    <%# Okay, what is in the menu. %>
    <h1>Menu</h1>
  </div>
  <div class="accordion" id="accordionExample">
    <div class="card">
      <div class="card-header d-flex justify-content-center" id="headingOne">
        <h2 class="mb-0">
          <button class="btn btn-link" id="btn_btn" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Entradas
          </button>
        </h2>
      </div>
      <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="card-1">
          <div class="cards-home">
            <%items.each do |item| %>
              <% if item.category == "Starter" %>
                    <div class="card-group border-bottom padding-bottom">
                        <div class="card-picture d-flex">
                            <div class="plate img">
                                 <% if item.photo.attached? %>
                                  <%= cl_image_tag item.photo.key, height: 110, width: 110, crop: :fill %>
                                  <%else%>
                                   <%= image_tag "plate.png", height: 110, width: 110, crop: :fill %>
                                  <% end %>
                            </div>
                  
                           
                      </div>
                      <div class="card-description d-flex flex-column">
                             
                                <h2 class="card-title text-left"><%= item.name %> <em> R$<%= item.price %></em></h2>
                                <p class="card-text text-left"><%= item.description %></p>
                                 <% if current_user.present?%>
                                  <%if current_user.cart%>
                                        <%= simple_form_for [current_user.cart, CartItem.new], wrapper: :inline_form, html: {class: 'form-inline'} do |t| %>
                                          <%= t.input :item_id, input_html: {value: item.id}, as: :hidden%>
                                          <div class="row d-flex">
                                            <div class="ml-3">
                                              <%= t.input :quantity, :input_html => {:style=> 'width: 55px', value: 1}%>
                                            </div>
                                            <div class="ml-2">
                                              <%= t.submit "Add", class: "btn btn-outline-success"%>
                                            </div>
                                          </div>
                                        <% end %>
                                      <% else %>
                                        <button type="button" class="choose_table" data-toggle="modal" data-target="#choosetable">
                                                Before order, choose a table !
                                        </button>
                                  <% end %>
                            
                              
                                <% end %>
                             
                            </div>
                    </div>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header d-flex justify-content-center" id="headingTwo">
        <h2 class="mb-0">
          <button class="btn btn-link collapsed" id="btn_btn" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Main Course
          </button>
        </h2>
      </div>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
        <div class="card-body">
          <div class="cards-home">
            <%items.each do |item| %>
              <% if item.category == "Main Course" %>
               <div class="card-group border-bottom padding-bottom">
                        <div class="card-picture d-flex">
                            <div class="plate img">
                                 <% if item.photo.attached? %>
                                  <%= cl_image_tag item.photo.key, height: 110, width: 110, crop: :fill %>
                                  <%else%>
                                   <%= image_tag "plate.png", height: 110, width: 110, crop: :fill %>
                                  <% end %>
                            </div>
                  
                           
                      </div>
                      <div class="card-description d-flex flex-column">
                             
                                <h2 class="card-title text-left"><%= item.name %> <em> R$<%= item.price %></em></h2>
                                <p class="card-text text-left"><%= item.description %></p>
                                 <% if current_user.present?%>
                                  <%if current_user.cart%>
                                        <%= simple_form_for [current_user.cart, CartItem.new], wrapper: :inline_form, html: {class: 'form-inline'} do |t| %>
                                          <%= t.input :item_id, input_html: {value: item.id}, as: :hidden%>
                                          <div class="row d-flex">
                                            <div class="ml-3">
                                              <%= t.input :quantity, :input_html => {:style=> 'width: 55px', value: 1}%>
                                            </div>
                                            <div class="ml-2">
                                              <%= t.submit "Add", class: "btn btn-outline-success"%>
                                            </div>
                                          </div>
                                        <% end %>
                                      <% else %>
                                        <button type="button" class="choose_table" data-toggle="modal" data-target="#choosetable">
                                                Before order, choose a table !
                                        </button>
                                  <% end %>
                            
                              
                                <% end %>
                             
                            </div>
                    </div>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header d-flex justify-content-center" id="headingThree">
        <h2 class="mb-0">
          <button class="btn btn-link collapsed" id="btn_btn" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            Desserts
          </button>
        </h2>
      </div>
      <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">

        <div class="card-body">
          <div class="cards-home">
            <%items.each do |item| %>
              <% if item.category == "Dessert" %>
               <div class="card-group border-bottom padding-bottom">
                        <div class="card-picture d-flex">
                            <div class="plate img">
                                 <% if item.photo.attached? %>
                                  <%= cl_image_tag item.photo.key, height: 110, width: 110, crop: :fill %>
                                  <%else%>
                                   <%= image_tag "plate.png", height: 110, width: 110, crop: :fill %>
                                  <% end %>
                            </div>
                  
                           
                      </div>
                      <div class="card-description d-flex flex-column">
                             
                                <h2 class="card-title text-left"><%= item.name %> <em> R$<%= item.price %></em></h2>
                                <p class="card-text text-left"><%= item.description %></p>
                                 <% if current_user.present?%>
                                  <%if current_user.cart%>
                                        <%= simple_form_for [current_user.cart, CartItem.new], wrapper: :inline_form, html: {class: 'form-inline'} do |t| %>
                                          <%= t.input :item_id, input_html: {value: item.id}, as: :hidden%>
                                          <div class="row d-flex">
                                            <div class="ml-3">
                                              <%= t.input :quantity, :input_html => {:style=> 'width: 55px', value: 1}%>
                                            </div>
                                            <div class="ml-2">
                                              <%= t.submit "Add", class: "btn btn-outline-success"%>
                                            </div>
                                          </div>
                                        <% end %>
                                      <% else %>
                                        <button type="button" class="choose_table" data-toggle="modal" data-target="#choosetable">
                                                Before order, choose a table !
                                        </button>
                                  <% end %>
                            
                              
                                <% end %>
                             
                            </div>
                    </div>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header d-flex justify-content-center" id="headingFour">
        <h2 class="mb-0">
          <button class="btn btn-link collapsed" id="btn_btn" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
            Drinks
          </button>
        </h2>
      </div>
      <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
        <div class="card-body">
          <div class="cards-home">
            <%items.each do |item| %>
              <% if item.category == "Drinks" %>
              <div class="card-group border-bottom padding-bottom">
                        <div class="card-picture d-flex">
                            <div class="plate img">
                                 <% if item.photo.attached? %>
                                  <%= cl_image_tag item.photo.key, height: 110, width: 110, crop: :fill %>
                                  <%else%>
                                   <%= image_tag "drink.png", height: 110, width: 110, crop: :fill %>
                                  <% end %>
                            </div>
                  
                           
                      </div>
                      <div class="card-description d-flex flex-column">
                             
                                <h2 class="card-title text-left"><%= item.name %> <em> R$<%= item.price %></em></h2>
                                <p class="card-text text-left"><%= item.description %></p>
                                 <% if current_user.present?%>
                                  <%if current_user.cart%>
                                        <%= simple_form_for [current_user.cart, CartItem.new], wrapper: :inline_form, html: {class: 'form-inline'} do |t| %>
                                          <%= t.input :item_id, input_html: {value: item.id}, as: :hidden%>
                                          <div class="row d-flex">
                                            <div class="ml-3">
                                              <%= t.input :quantity, :input_html => {:style=> 'width: 55px', value: 1}%>
                                            </div>
                                            <div class="ml-2">
                                              <%= t.submit "Add", class: "btn btn-outline-success"%>
                                            </div>
                                          </div>
                                        <% end %>
                                      <% else %>
                                        <button type="button" class="choose_table" data-toggle="modal" data-target="#choosetable">
                                                Before order, choose a table !
                                        </button>
                                  <% end %>
                            
                              
                                <% end %>
                             
                            </div>
                    </div>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
