<%items.each do |item| %>
      <%# A picture say a thousand words %>
      <div class="card-product">
        <div class="plate">
            <img src="https://github.com/CodeFrogShow/UI-Design-Food-Delivery-App/blob/master/imgs/food/tsr.png?raw=true" />
        </div>
        <%# What's is the name of this delicious thing I'm about to eat? %>
        <h2><%= item.name %></h2>
        <%# Humm, tell me more... %>
        <p><%= item.description %></p>
        <%# How much will it cost me? %>
        <p><%= item.price %></p>
        <%# if I'm here? Thats is a odd question. %>
        <% if current_user.present?%>
          <%# Should I buy it? %>
          <%if current_user.cart%>
            <%# Screw it, I will buy it. %>
            <%= link_to 'Add', cart_cart_items_path(current_user.cart, item_id: item), class: "button-orange", method: :post %>
          <% else %>
            <%= link_to 'table', "#", class: "button-orange"%>
          <% end %>
        <% else %>
          <%= link_to 'table', "#", class: "button-orange"%>
        <% end %>
      </div>
    <% end %>
</div>
